{
    "presets": [
        [
            "env", {
            "targets": {
                "browsers": [ "last 2 versions", "safari >= 7" ]
            }
        }
        ],
        "react",
    ],
    "plugins": [
        "transform-class-properties",
        "react-hot-loader/babel",
        "syntax-decorators",
        "transform-async-generator-functions",
        "transform-async-to-generator",
        "transform-decorators-legacy"
    ]
}
